@{
    ViewData["Title"] = "TP Integrador";
}

<div class="text-center">
    <h1 class="">Trabajo integrador de Química</h1>
    <p><b>¿Qué deseas calcular?</b></p>
</div>
<div class="row">
    <div class="text-center col-md-6" style="margin:00px">

        <h3 class="">Cinética</h3>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Concentración</a>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">PH</button>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2">POH</button>

        </p>
        <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <b>Para calcular la concentración de una sustancia necesita ingresar los siguientes datos:</b>
                    <br />
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="molaridad" class="sr-only">Molaridad (M)</label>
                        <input type="text" class="form-control" id="molaridad" placeholder="Ingrese valor de Molaridad (M)">
                    </div>

                    <div class="form-group mx-sm-3 mb-2">
                        <label for="cantidad" class="sr-only">Cantidad (ml)</label>
                        <input type="text" class="form-control" id="cantidad" placeholder="Ingrese cantidad de Sustancia(ml)">
                    </div>
                    <br />
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" onclick="CalcularConcentracion()" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">Calcular Concentración</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    <b>Para calcular el PH de una sustancia necesita ingresar los siguientes datos:</b>

                    <br />
                    <br />

                    <p>Agregar Formulario correspondiente</p>
                    <br />
                    <br />
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" class="btn btn-primary mb-2">Calcular PH</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="card card-body">
                    <b>Para calcular el POH de una sustancia necesita ingresar los siguientes datos:</b>

                    <br />
                    <br />

                    <p>Agregar Formulario correspondiente</p>
                    <br />
                    <br />
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" class="btn btn-primary mb-2">Calcular POH</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center col-md-6" style="margin:00px">

        <h3 class="">Termodinámica</h3>
        <p>
            <a class="btn btn-danger" data-toggle="collapse" href="#multiCollapseEntalpia" role="button" aria-expanded="false" aria-controls="multiCollapseEntalpia">Entalpía</a>
            <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#multiCollapseEquilibrio" aria-expanded="false" aria-controls="multiCollapseEquilibrio">Equilibrio Térmico </button>

        </p>
        <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseEntalpia">
                <div class="card card-body">
                    <b>Para calcular la Entalpía de una sustancia necesita ingresar los siguientes datos:</b>

                    <br />
                    <br />

                    <p>Agregar Formulario correspondiente</p>
                    <br />
                    <br />
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" class="btn btn-primary mb-2">Calcular Entalpía</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseEquilibrio">
                <div class="card card-body">

                    <b>Para calcular el Equilibrio Térmico entre dos sustancias necesitas ingresar los siguientes datos:</b>
                    <br />

                    <div id="Elemento1">
                        <b>Elemento 1</b>
                        <br />
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="cantidadEquilibrio" class="sr-only">Cantidad (grms)</label>
                            <input type="text" class="form-control" id="cantidadEquilibrio" placeholder="Cantidad (grms" ) />
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                            <label for="temp" class="sr-only">Temperatura (°C)</label>
                            <input type="text" class="form-control" id="temp" placeholder="Temperatura (°C)" />
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                            <label for="calorEsp" class="sr-only">Calor Específico (°C)</label>
                            <input type="text" class="form-control" id="calorEsp" placeholder="Calor Específico (°C)" />
                        </div>
                    </div>
                    <div id="Elemento2">
                        <b>Elemento 2</b>
                        <br />
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="cantidadEquilibrio2" class="sr-only">Cantidad (grms)</label>
                            <input type="text" class="form-control" id="cantidadEquilibrio2" placeholder="Cantidad (grms" ) />
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                            <label for="temp2" class="sr-only">Temperatura (°C)</label>
                            <input type="text" class="form-control" id="temp2" placeholder="Temperatura (°C)" />
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                            <label for="calorEsp2" class="sr-only">Calor Específico (°C)</label>
                            <input type="text" class="form-control" id="calorEsp2" placeholder="Calor Específico (°C)" />
                        </div>
                    </div>


                    <div class="form-group mx-sm-3 mb-2">
                        <button type="button" onclick="CalcularEquilibrio()" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">Calcular Equilibrio</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="resultadoConcentracion">Hola</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function CalcularConcentracion() {

        var mol = document.getElementById("molaridad").value;
        var cant = document.getElementById("cantidad").value;

        document.getElementById("resultadoConcentracion").innerHTML = "Molaridad: " + mol + "</br>Cantidad: " + cant;
        document.getElementById("exampleModalLabel").innerHTML = "Concentración";
    }


    function CalcularEquilibrio() {

        var cantElemento1 = parseFloat(document.getElementById("cantidadEquilibrio").value);
        var tmpElemento1 = parseFloat(document.getElementById("temp").value);
        var calorElemento1 = parseFloat(document.getElementById("calorEsp").value);

        var cantElemento2 = parseFloat(document.getElementById("cantidadEquilibrio2").value);
        var tmpElemento2 = parseFloat(document.getElementById("temp2").value);
        var calorElemento2 = parseFloat(document.getElementById("calorEsp2").value);

        var resultado = ((cantElemento1 * calorElemento1 * tmpElemento1) + (cantElemento2 * calorElemento2 * tmpElemento2)) / ((cantElemento1 * calorElemento1) + (cantElemento2 * calorElemento2));

        document.getElementById("resultadoConcentracion").innerHTML = resultado.toFixed(3).toString();
        document.getElementById("exampleModalLabel").innerHTML = "Equilibrio Termico";
    }
</script>
