@{
    ViewData["Title"] = "TP Integrador";
}

<div class="text-center">
    <h1 class="">Trabajo integrador de Química</h1>
    <p><b>¿Qué deseas calcular?</b></p>
    <img src="~/img/imagen.jpg" width="250"/>
</div>
<div class="row">
    <div class="text-center col-md-6" style="margin:00px">

        <h3 class="">Cinética</h3>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Concentración</a>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">PH/POH</button>

        </p>
        <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <b>Para calcular la concentración de una sustancia necesita ingresar los siguientes datos:</b>
                    <br />
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="molaridad" class="sr-only">Molaridad (M)</label>
                        <input type="text" class="form-control" id="molaridad" placeholder="Ingrese valor de Molaridad (M)">
                    </div>

                    <div class="form-group mx-sm-3 mb-2">
                        <label for="cantidad" class="sr-only">Cantidad (ml)</label>
                        <input type="text" class="form-control" id="cantidad" placeholder="Ingrese cantidad de Sustancia(ml)">
                    </div>
                    <br />
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" onclick="CalcularConcentracion()" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">Calcular Concentración</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    <b>El pH es una medida de acidez o alcalinidad que indica la cantidad de iones de hidrógeno presentes en una solución o sustancia.</b>
                    <b>Para calcularlo se necesita ingresar los siguientes datos:</b>

                    <br />

                    <div id="Elemento1">
                        <b>Molalidad de la solucion</b>
                        <br />
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="mol" class="sr-only">Molaridad (M</label>
                            <input type="text" class="form-control" id="mol" placeholder="Ingrese valor de Molaridad (M)" />
                        </div>

                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="button" onclick="CalcularPH()" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">Calcular pH y pOH </button>
                    </div>
                </div>
            </div>
        </div>
      

    </div>

    <div class="text-center col-md-6" style="margin:00px">

        <h3 class="">Termodinámica</h3>
        <p>
            <a class="btn btn-danger" data-toggle="collapse" href="#multiCollapseEntalpia" role="button" aria-expanded="false" aria-controls="multiCollapseEntalpia">Entalpía Estandar</a>
            <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#multiCollapseEquilibrio" aria-expanded="false" aria-controls="multiCollapseEquilibrio">Equilibrio Térmico </button>

        </p>
        <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseEntalpia">
                <div class="card card-body">
                    <b>La Entalpía Estandar de una reaccion es el incremento entálpico de una reacción en la cual, tanto reactivos como productos están en condiciones estándar (p= 1 atm; T = 298 K = 25 oC; conc. = 1 M).</b>
                    <b>Para calcularla se necesita ingresar los siguientes datos:</b>

                    <br />

                    <div id="Elemento1">
                        <b>Reactivo A</b>
                        <br />
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="entalpiaA" class="sr-only">Entalpia de formacion del reactivo A</label>
                            <input type="text" class="form-control" id="entalpiaA" placeholder="Entalpía en kj/mol" />
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="numeroMolA" class="sr-only">Numeros de moles de A</label>
                            <input type="text" class="form-control" id="numeroMolA" placeholder="Numero de mol" />
                        </div>
                    </div>
                    <div id="Elemento2">
                        <b>Reactivo B</b>
                        <br />
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="entalpiaB" class="sr-only">Entalpia de formacion del reactivo B</label>
                            <input type="text" class="form-control" id="entalpiaB" placeholder="Entalpía en kj/mol" />
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="numeroMolB" class="sr-only">Numeros de moles de B</label>
                            <input type="text" class="form-control" id="numeroMolB" placeholder="Numero de mol" />
                        </div>
                    </div>
                    <div id="Elemento3">
                        <b>Producto C</b>
                        <br />
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="entalpiaC" class="sr-only">Entalpia de formacion del producto C</label>
                            <input type="text" class="form-control" id="entalpiaC" placeholder="Entalpía en kj/mol" />
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="numeroMolC" class="sr-only">Numeros de moles de C</label>
                            <input type="text" class="form-control" id="numeroMolC" placeholder="Numero de mol" />
                        </div>
                    </div>
                    <div id="Elemento4">
                        <b>Producto D</b>
                        <br />
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="entalpiaD" class="sr-only">Entalpia de formacion del producto D</label>
                            <input type="text" class="form-control" id="entalpiaD" placeholder="Entalpía en kj/mol" />
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="numeroMolD" class="sr-only">Numeros de moles de D</label>
                            <input type="text" class="form-control" id="numeroMolD" placeholder="Numero de mol" />
                        </div>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="button" onclick="CalcularEntalpiaEstandar()" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">Calcular Entalpia estandar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="collapse multi-collapse" id="multiCollapseEquilibrio">
                <div class="card card-body">

                    <b>Para calcular el Equilibrio Térmico entre dos sustancias necesitas ingresar los siguientes datos:</b>
                    <br />

                    <div id="Elemento1">
                        <b>Elemento 1</b>
                        <br />
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="cantidadEquilibrio" class="sr-only">Cantidad (grms)</label>
                            <input type="text" class="form-control" id="cantidadEquilibrio" placeholder="Cantidad (grms" ) />
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                            <label for="temp" class="sr-only">Temperatura (°C)</label>
                            <input type="text" class="form-control" id="temp" placeholder="Temperatura (°C)" />
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                            <label for="calorEsp" class="sr-only">Calor Específico (°C)</label>
                            <input type="text" class="form-control" id="calorEsp" placeholder="Calor Específico (°C)" />
                        </div>
                    </div>
                    <div id="Elemento2">
                        <b>Elemento 2</b>
                        <br />
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="cantidadEquilibrio2" class="sr-only">Cantidad (grms)</label>
                            <input type="text" class="form-control" id="cantidadEquilibrio2" placeholder="Cantidad (grms" ) />
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                            <label for="temp2" class="sr-only">Temperatura (°C)</label>
                            <input type="text" class="form-control" id="temp2" placeholder="Temperatura (°C)" />
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                            <label for="calorEsp2" class="sr-only">Calor Específico (°C)</label>
                            <input type="text" class="form-control" id="calorEsp2" placeholder="Calor Específico (°C)" />
                        </div>
                    </div>


                    <div class="form-group mx-sm-3 mb-2">
                        <button type="button" onclick="CalcularEquilibrio()" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">Calcular Equilibrio</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="resultadoConcentracion">Hola</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function CalcularConcentracion() {

        var mol = parseFloat(document.getElementById("molaridad").value);
        var cant = parseInt(document.getElementById("cantidad").value);

        var result = (cant * mol) / 1000;

        document.getElementById("resultadoConcentracion").innerHTML = result;
        document.getElementById("exampleModalLabel").innerHTML = "Concentración";
    }


    function CalcularEquilibrio() {

        var cantElemento1 = parseFloat(document.getElementById("cantidadEquilibrio").value);
        var tmpElemento1 = parseFloat(document.getElementById("temp").value);
        var calorElemento1 = parseFloat(document.getElementById("calorEsp").value);

        var cantElemento2 = parseFloat(document.getElementById("cantidadEquilibrio2").value);
        var tmpElemento2 = parseFloat(document.getElementById("temp2").value);
        var calorElemento2 = parseFloat(document.getElementById("calorEsp2").value);

        var resultado = ((cantElemento1 * calorElemento1 * tmpElemento1) + (cantElemento2 * calorElemento2 * tmpElemento2)) / ((cantElemento1 * calorElemento1) + (cantElemento2 * calorElemento2));

        document.getElementById("resultadoConcentracion").innerHTML = resultado.toFixed(3).toString();
        document.getElementById("exampleModalLabel").innerHTML = "Equilibrio Termico";
    }

    function CalcularEntalpiaEstandar() {

        var entalpiaA = parseFloat(document.getElementById("entalpiaA").value);
        var numeroMolA = parseFloat(document.getElementById("numeroMolA").value);

        var entalpiaB = parseFloat(document.getElementById("entalpiaB").value);
        var numeroMolB = parseFloat(document.getElementById("numeroMolB").value);

        var entalpiaC = parseFloat(document.getElementById("entalpiaC").value);
        var numeroMolC = parseFloat(document.getElementById("numeroMolC").value);

        var entalpiaD = parseFloat(document.getElementById("entalpiaD").value);
        var numeroMolD = parseFloat(document.getElementById("numeroMolD").value);

        var resultado = (numeroMolC * entalpiaC) + (numeroMolD * entalpiaD) - ((numeroMolA * entalpiaA) + (numeroMolB * entalpiaB));
        var sistemaEs;
        if (resultado < 0) {
            sistemaEs = "Exotérmico"
        } else {
            sistemaEs = "Endotérmico"
        }
        document.getElementById("resultadoConcentracion").innerHTML = "Entalpía Estandar: " + resultado + "</br> El sistema es: " + sistemaEs;
        document.getElementById("exampleModalLabel").innerHTML = "Entalpía Estandar";
    }

    function CalcularPH() {
        var mol = document.getElementById("mol").value;

        var resultadoPH = -(Math.log10(mol));

        if (resultadoPH < 7) {
            sistemaEs = "ácida"
        } else {
            sistemaEs = "básica"
        }

        var resultadoPOH = 14 - resultadoPH;

        document.getElementById("resultadoConcentracion").innerHTML = "El pH es : " + resultadoPH + "</br>  El pOH es:" + resultadoPOH + " </br> La solución es: " + sistemaEs;
        document.getElementById("exampleModalLabel").innerHTML = "pH/pOH";
    }
</script>
